<body>
<div class="container ">
      <div class="row">
          <div class="col-md-6 agregar-cita">
                  <h2 class="text-center my-4">Agenda de Citas</h2>
                  <form>
                          <div class="form-group row">
                              <label class="col-sm-4 col-lg-4 col-form-label" >Nombre Mascota:</label>
                              <div class="col-sm-8 col-lg-8">
                                  <input #nombreMascota type="text" id="mascota" class="form-control" placeholder="Nombre Mascota" required>
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-sm-4 col-lg-4 col-form-label">Nombre Dueño:</label>
                              <div class="col-sm-8 col-lg-8">
                                  <input #nombreDueno type="text" id="cliente"  class="form-control"  placeholder="Nombre Dueño de la Mascota" required>
                              </div>
                          </div>
                          <div class="form-group row">
                                  <label class="col-sm-4 col-lg-4 col-form-label">Teléfono:</label>
                                  <div class="col-sm-8 col-lg-8">
                                      <input #numeroTel type="tel" id="telefono" class="form-control"  placeholder="Número de Teléfono" required>
                                  </div>
                              </div>
                          <div class="form-group row">
                              <label class="col-sm-4 col-lg-4 col-form-label">Fecha:</label>
                              <div class="col-sm-8 col-lg-8">
                                  <input #fecha type="date" id="fecha" class="form-control" required>
                              </div>
                          </div>

                           <div class="form-group row">
                              <label class="col-sm-4 col-lg-4 col-form-label">Hora:</label>
                              <div class="col-sm-8 col-lg-8">
                                  <input #hora type="time" id="hora" class="form-control" required>
                              </div>
                          </div>

                          <div class="form-group row">
                              <label class="col-sm-4 col-lg-4 col-form-label">Sintomas:</label>
                              <div class="col-sm-8 col-lg-8">
                                  <textarea #text id="sintomas" class="form-control" required></textarea>
                              </div>
                          </div>
                          <div class="form-group row justify-content-end">
                              <div class="col-sm-3">
                                  <button #boton type="submit" class="btn btn-success w-100">Agregar</button>
                              </div>
                          </div>
                      </form>
          </div>

          <div class="col-md-6">
                  <h2 id="administra" class="text-center my-4">Carga Registros</h2><div id="abajo"></div>
                  <ul id="citas" class="list-group"></ul>
          </div>
      </div>


  </div>



<!-- <router-outlet></router-outlet> -->
</body>
